@page "/Calculadora"
@using Tarea_1.Entidades

<h3>Calculadora</h3>

<EditForm Model="calculador" OnValidSubmit="Calcular">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <p class="Numero1">
            Primer Numero: <InputNumber @bind-Value="calculador.Numero1" class="form-control" />
        </p>
        <p class="Numero2">
            Segundo Numero: <InputNumber @bind-Value="calculador.Numero2" class="form-control" />
        </p>
        <p class="Suma">
            La suma es: <InputNumber @bind-Value="calculador.Suma" class="form-control" readonly="true" />
        </p>
        <p class="Multiplicacion">
            La multiplicación es: <InputNumber @bind-Value="calculador.Multiplicacion" class="form-control" readonly="true" />
        </p>
        <p class="Resta">
            La resta es: <InputNumber @bind-Value="calculador.Resta" class="form-control" readonly="true" />
        </p>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success" @onclick="Calcular">
            Calcular
        </button>
    </div>

</EditForm>

@code 
{
    Calculador calculador = new Calculador();

    private int Num1, Num2;

    private void Calcular()
    {
        Num1 = calculador.Numero1;
        Num2 = calculador.Numero2;

        calculador.Suma = Num1 + Num2;

        calculador.Resta = Num1 - Num2;

        calculador.Multiplicacion = Num1 * Num2;
    }
}
